# Supabase Configuration
VITE_SUPABASE_URL=https://uwzrsqhnseepshkffaud.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3enJzcWhuc2VlcHNoa2ZmYXVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkyNDU0NzksImV4cCI6MjA4NDgyMTQ3OX0.okNxSYjf7M5wQOXbLv9tJtTk28BTyVJo_s4wyKC5FXs

# Azure Function Database API Endpoint (Active)
VITE_API_BASE_URL=https://fypodku-g4f2avb0aaewcyaw.indonesiacentral-01.azurewebsites.net
